# --------------------
# Navigation Shortcuts
# --------------------
alias cdownloads="cd '/mnt/c/Documents and Settings/alei/Downloads'" # Access Windows downloads folder
alias clr="clear" # Clear terminal
alias p="pwd;echo" # Print current working directory
alias dotfiles="cd ~/dotfiles" # Navigate to dotfiles directory
alias repos="cd ~/repos" # Navigate to repos directory
# up n # Command defined as custom function. Move up n steps in directories
# find-files
# find-grep 

# --------------------
# Configuration Shortcuts
# --------------------
alias zshconfig="nano ~/.zshrc" # Edit zsh configuration file
alias aliascfg="nano ~/.aliases" # Edit aliases file
alias ohmyzsh="nano ~/.oh-my-zsh" # Edit Oh My Zsh configuration
# delete-idfiles # Delete idfiles generating when pasting into ubuntu from Windows
# fix-zsh-history # Fix corrupted history
# gen_pass n z # Call python function to generate n safe passwords of z characters

# --------------------
# Virtual Environment Shortcuts
# --------------------
alias start_venv='echo "source venv/bin/activate"; source venv/bin/activate' # Start virtual environment
alias svenv="source venv/bin/activate" # Activate virtual environment (assuming it's already set up)

# --------------------
# Git Shortcuts
# --------------------
alias gs="git status" # Check git status

# --------------------
# File/Directory Listing Shortcuts
# --------------------
alias la="ls --group-directories-first -Fha" # List files and directories with details
# hgrep # Search git history for pattern

# --------------------
# Terraform Shortcuts
# --------------------
alias tf="terraform"
alias tf_debug='export TF_LOG=DEBUG' # Set Terraform log level to DEBUG
alias tf_warn='export TF_LOG=WARN' # Set Terraform log level to WARN
alias tfdebugnow='TF_LOG=debug' # Log level to debug for current command only

# --------------------
# Tree Command Shortcuts
# --------------------
alias t1="tree -a -L 1 --gitignore" # Tree view with depth 1, ignoring .gitignore files
alias t2="tree -a -L 2 --gitignore" # Tree view with depth 2, ignoring .gitignore files
alias t3="tree -a -L 3 --gitignore" # Tree view with depth 3, ignoring .gitignore files

# --------------------
# AWS/Terraform Authentication Shortcuts
# --------------------
alias awsauth1='echo -e "====\nCOMMAND:\n aws sso login --profile assumer\n====";aws sso login --profile assumer' # AWS SSO login with profile "assumer"
alias awsauth2='echo -e "====\nCOMMAND:\n export AWS_PROFILE=assumer\n====";export AWS_PROFILE=assumer' # Set AWS profile to "assumer"
alias awsauth='awsauth1;echo " ";awsauth2' # Combined AWS authentication steps

# --------------------
# Code Editor Shortcuts
# --------------------
alias co='echo -e "code .";code .' # Open current directory in Visual Studio Code
