alias cdownloads="cd '/mnt/c/Documents and Settings/alei/Downloads'"
#alias start_docker="source ~/.start_docker"
#alias pyver="update-alternatives --config python3"
alias clr="clear"
alias p="pwd;echo"

# Shortcut to start venv:
alias start_venv='echo "source venv/bin/activate"; source venv/bin/activate'
alias svenv="source venv/bin/activate"

alias zshconfig="nano ~/.zshrc"
alias ohmyzsh="nano ~/.oh-my-zsh"
alias gs="git status"
alias la="ls --group-directories-first -Fha"
alias tf="terraform"

alias t1="tree -a -L 1 --gitignore"
alias t2="tree -a -L 2 --gitignore"
alias t3="tree -a -L 3 --gitignore"

alias tfauth1='echo "aws sso login --profile assumer"; aws sso login --profile assumer'
alias tfauth2='echo "export AWS_PROFILE=assumer"; export AWS_PROFILE=assumer'
alias tfauth='tfauth1;tfauth2'

alias co='echo "code ."; code .'
