alias cdownloads="cd '/mnt/c/Documents and Settings/alei/Downloads'"
#alias start_docker="source ~/.start_docker"
#alias pyver="update-alternatives --config python3"
alias clr="clear"
alias p="pwd;echo"
alias dotfiles="cd ~/dotfiles"

# Shortcut to start venv:
alias start_venv='echo "source venv/bin/activate"; source venv/bin/activate'
alias svenv="source venv/bin/activate"

alias zshconfig="nano ~/.zshrc"
alias ohmyzsh="nano ~/.oh-my-zsh"
alias gs="git status"
alias la="ls --group-directories-first -Fha"
alias tf="terraform"

alias t1="tree -a -L 1 --gitignore"
alias t2="tree -a -L 2 --gitignore"
alias t3="tree -a -L 3 --gitignore"

alias tfauth1='echo -e "====\nCOMMAND:\n aws sso login --profile assumer\n====";aws sso login --profile assumer'
alias tfauth2='echo -e "====\nCOMMAND:\n export AWS_PROFILE=assumer\n====";export AWS_PROFILE=assumer'
alias tfauth='tfauth1;echo " ";tfauth2'

alias co='echo -e "code .";code .'
